@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.card {
  width: 18rem;
  height: 29rem;
  padding: 20px 20px 28px;
  background-color: #212936;
  border-radius: 20px;
}

.image {
  display: inline-block;
  width: 18rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.info {
  text-align: center;
  margin-bottom: 1.5rem;

  .name {
    font-size: 1rem;
    color: #e5e7eb;
    margin-bottom: 0.5rem;
  }
  .author {
    font-size: 0.75rem;
    color: #4d5562;
  }
}

.line {
  margin-bottom: 2.1rem;
  position: relative;

  .line-time {
    display: flex;
    .time.current {
      color: #4d5562;
      font-size: 0.625rem;
      position: absolute;
      top: -14px;
      left: 0;
    }
    .time.track {
      color: #4d5562;
      font-size: 0.625rem;
      position: absolute;
      top: -14px;
      right: 0;
    }
  }
}

.line-bar {
  border-radius: 20px;
  display: flex;
  background-color: #e5e7eb;
  .line-track {
    border: 2px solid #c93b76;
    border-radius: 20px;
  }
}

.control {
  display: flex;
  justify-content: center;

  .btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    img {
      width: 2rem;
    }
    .start {
      padding: 0.5rem;
      background-color: #c93b76;
      border-radius: 50%;
    }
  }
}
